# API Stripe Key (example: pk_test_xxxx)
VITE_STRIPE_KEY=

# Logo (example: LaraStack CMS)
VITE_APP_NAME=LaraStack CMS

# API URL (http://localhost:8000)
VVITE_API_URL=

# Is Development Mode (true/false)
VITE_DEVELOPMENT_MODE=true
